*{margin: 0; padding: 0; box-sizing: border-box;}
body{
	display: flex;
	flex-direction: row;
}
#menu{
	flex-basis: 20%;
	height: 825px;
	background-color: #eee;
	display: flex; 
	flex-direction: column;
	padding:100px 50px;
	
}
#zonaImagenes{
	height: 825px;
	display: flex;
	justify-content: space-around;	
	flex-wrap: wrap;
	flex-basis: 80%;
	background-color: #666666;
	overflow: hidden;
}
.imagen{
	width: 150px;
	height: 150px;
	margin: 10px;
}